In [67]:
import pandas as pd
import regex as re

pd.set_option('display.max_colwidth', None)
file = '/content/sample_data/who_2020.xlsx'
df = pd.read_excel(file, sheet_name='Annex 2-2', header=1)
delete = list(range(5,20))
df=df.drop(df.columns[delete], axis=1)
df.drop(index=[0,1], inplace=True)
df=df.rename(columns={'Unnamed: 0':'Country'})
df.drop(index=[2], inplace=True)
df.set_index('Country')
df=df[~df['Country'].str.contains('Region', flags=re.I, regex=True, na=False)]
df.drop(index=[197,205], inplace=True)

In [69]:
df.rename(columns={
    df.columns[1]: '% probability of dying bewteen 30 and 70 of illness',
    df.columns[2]: 'Suicide rate per per 100 000',
    df.columns[3]: 'Alcohol Consumption (litres)',
    df.columns[4]: 'Road traffic mortality per 100 000'}, inplace=True)

In [71]:
df.replace('<0.1','0.1',inplace=True)
df.replace(' ','',inplace=True)
df.replace('-','',inplace=True)

In [93]:
df['Alcohol Consumption (litres)'].astype(float)
# df['Alcohol Consumption (litres)'].unique()
# type('Alcohol Consumption (litres)')

ValueError: ignored

In [13]:
import requests
from bs4 import BeautifulSoup

website_url = requests.get('https://en.wikipedia.org/wiki/List_of_European_Union_member_states_by_population').text
soup = BeautifulSoup(website_url,'lxml')

my_table = soup.find('table',{'class':'sortable wikitable'})
links = my_table.findAll('a')

countries = []
for link in links:
  countries.append(link.get('title'))

dfc = pd.DataFrame()
dfc['countries'] = countries
u = dfc['countries'].unique()

dfd = pd.DataFrame(u)
dfd.rename(columns={'0':'Country'}, inplace=True)
dfd.drop(index=0, inplace=True)
dfd.columns=['Country']

In [12]:
df['EU?']=df['Country'].isin(dfd['Country'])
df_eu = df[df['EU?']==True]

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         Country  ...   EU?
12       Austria  ...  True
19       Belgium  ...  True
28      Bulgaria  ...  True
45       Croatia  ...  True
47        Cyprus  ...  True
51       Denmark  ...  True
60       Estonia  ...  True
64       Finland  ...  True
65        France  ...  True
69       Germany  ...  True
71        Greece  ...  True
79       Hungary  ...  True
87         Italy  ...  True
97        Latvia  ...  True
102    Lithuania  ...  True
103   Luxembourg  ...  True
109        Malta  ...  True
124  Netherlands  ...  True
140       Poland  ...  True
141     Portugal  ...  True
145      Romania  ...  True
160     Slovakia  ...  True
161     Slovenia  ...  True
166        Spain  ...  True
170       Sweden  ...  True

[25 rows x 6 columns]

In [ ]:
import plotly.express as px
chart = px.bar(df_eu, x='Country', )